body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-style: normal;
  color: #FFFFFF;
}
.nav{
  padding: 80px;
  background-image: url(./img/bg-black.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.p1 h1{
  font-family: "Horta";
  font-size: 160px;
  padding: 0;
  margin: 0;
}
.hl1{
  border-bottom: 5px dashed #585858;
  margin-bottom: 30px;
  padding-bottom: none;
}


.topnav ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topnav li{
  float: right;
  font-weight: 300px;
  padding: 14px 16px;
  font-size: 20px;
}

.topnav a{
  color:white;
  text-decoration: none;
  text-align: center;
}


.wwa_container{
  margin: 0;
  padding: 20px;
  background-color: black;
}

.card_container_1{
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.card_container_2{
  justify-content: space-around;
  margin: 0;
  align-items: center;
  display: flex;
}

.card{
  max-width: 521px;
  align-items: center;
  text-align: center;
  padding: 25px;
  border: 2px dashed #FFFFFF;
}

.proj_container{
  margin: 0;
  padding: 20px;
  background-color: black;
}

.contr_container{
  margin: 0;
  padding: 20px;
  background-color: black;
}


.footer_grid{
  padding: 20px;
  display: inline-grid;
  background-color: black;
  column-gap: 40px;
  align-items: center;
}

.fg_item1{
  grid-column: 1;
}

.fg_item2{
  grid-column: 2;
}

.fg_item3{
  grid-column: 3;
}

.fg_item4{
  grid-column: 4;
}
